#footer {
background-color: #eee;
-webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
-moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
text-shadow: 0 1px 0 #fff;
position: relative;
height: 95px;
margin-top: -95px;
}

#footer .container2 {
	width: 980px;
	margin: auto;
}

#footer .container2 .right {
	float: right;
	padding-top: 18px;
}

#footer p {
    color: #555555;
	padding: 20px;
}
