<div style="width: 330px; margin-left: 165px;" class="thumbnail">
            <img src="https://lh3.googleusercontent.com/-ecxjs8Uy1MU/T62_tfkArGI/AAAAAAAAAGc/_VbYLleHecI/image001.png" alt="">
            <div class="caption">
              <h5>Hình 1</h5>
            </div>
</div>
<hr>
<h2>Đăng nhập</h2>
<p>1. Chọn <b>Đăng nhập</b> trên thanh điều hướng.</p>
<p>2. Khung đăng nhập sẽ xuất hiện như hình 1.</p>
<p>3. Điền thông tin <b>Tên đăng nhập</b> và <b>Mật khẩu</b> của bạn. Nếu muốn trình duyệt vẫn lưu phiên đăng nhập sau khi đã tắt thì bạn có thể chọn <b>Ghi nhớ</b>.</p>
<p>4. Nhấn nút <b>Đăng nhập</b> để hoàn tất. Sau đó sẽ có thông báo bạn đã đăng nhập thành công hay chưa. Nếu chưa, bạn vui lòng điền thông tin lại theo yêu cầu.</p>
<hr>
<h2>Đăng ký</h2>
<p>1. Chọn <b>Đăng ký</b> trên thanh điều hướng.</p>
<p>2. Bạn sẽ được chuyển đến trang đăng ký.</p>
<p>3. Điền đầy đủ các thông tin như hướng dẫn.</p>
<p>4. Nhấn nút <b>Tạo tài khoản</b> để hoàn tất. Sau đó sẽ có thông báo bạn đã đăng ký thành công hay chưa. Nếu chưa, bạn vui lòng điền thông tin lại theo yêu cầu.</p>
